@mixin flex($istrue: true) {
  display: flex;
  flex-direction: row;
  @if istrue {
    align-items: center;
  } @else {
    justify-content: center;
  }
}
.aside {
  padding: 12px;

  &__menu {
    @include flex();
    gap: 12px;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 10px;
  }
  .active {
    font-weight: bold;
    color: #f0f6fc;

    &::before {
      content: "";
      position: absolute;
      bottom: 0;
      border-left: 7.5px solid transparent;
      border-right: 7.5px solid transparent;
      border-bottom: 8px solid #c2c5c9;
    }
  }
}
