@mixin flex($istrue: true) {
  display: flex;
  flex-direction: column;
  @if istrue {
    align-items: center;
  } @else {
    justify-content: center;
  }
}
.aside {
  width: 100%;
  @include flex();
  margin-top: 100px;

  &__menu {
    @include flex(false);
    gap: 12px;
  }

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    list-style: none;
    padding: 10px;
    position: relative;
  }

  .active {
    font-weight: bold;
    color: #ecdfcc;
  }

  .active::before {
    content: "";
    position: absolute;
    left: -72px;
    width: 20px;
    height: 10px;
    background-color: #ecdfcc;

    display: flex;
    justify-content: center;
    align-items: center;
  }
}
