.container {
  display: flex;
  flex-direction: column;

  .aside {
    width: 100%;
    height: auto;
    transition: width 0.3s ease;
    background-color: #010409;
    border-bottom: 1px solid #3d444d;
    position: relative;
    z-index: 1;
  }

  .main {
    flex: 1;
    padding: 32px;
    position: sticky;
    top: 0;
  }
}
